.vs/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
.DS_Store
/frontendapp/.DS_Store
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
*.csproj.user
/database
/keys.txt
/build.sh
/BackendApp/controllers/PushNotiController.cs
/BackendApp/controllers/testpushService.cs
/BackendApp/controllers/UserController.cs
/BackendApp/models/PushSubscriptionModel.cs
/BackendApp/models/UserModel.cs

